<header>
    <nav>
        <div class="nav-container">
            <div class="logo-section">
                <a href="../" class="logo">BASB</a>
                <span class="tagline">building a second brain.</span>
            </div>
            <ul class="nav-links">
                <li><a href="../app">APP</a></li>
                <li class="dropdown">
                    <a href="../books">BOOKS <span class="dropdown-arrow">▼</span></a>
                </li>
                <li class="dropdown">
                    <a href="../courses">COURSES <span class="dropdown-arrow">▼</span></a>
                </li>
                <li><a href="../membership">MEMBERSHIP</a></li>
                <li><a href="../blog/">BLOG</a></li>
                <li class="dropdown">
                    <a href="../events">EVENTS <span class="dropdown-arrow">▼</span></a>
                </li>
                <li class="dropdown">
                    <a href="../resources">RESOURCES <span class="dropdown-arrow">▼</span></a>
                </li>
                <li><a href="../wall-of-love">WALL OF LOVE</a></li>
            </ul>
        </div>
    </nav>
</header>
